html {
    background: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
 } 

.spline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center; /* Optional: to center the element horizontally */
    top: 40px;
}

.centered {
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    background-position: center;
    font-size: 30px;
    
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    
}

/* Header & Logo styles */
 
 .header {
    background: linear-gradient(to right, #9c27b0, #8ecdff);
    border-bottom: 1px solid rgb(0, 0, 0);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 98.5%; /* You can adjust this value to your preference */
    margin: 0 auto; /* Center the header horizontally */
    padding: 10px 20px; /* Adjust padding as needed */
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    font-family: "Helvetica font";
 }

 .logo {
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    color: white;
 }

/* Navigation list styles */

header nav ul li {
    font-size: 1.2em; 
    line-height: 2.3em; 
    height: 2.3em;
    padding: 0px 5px;
 }
 
 header nav ul li a {
    color: white;
    display: block;
    width: 100%;
 }
 
 .navbar a {
    font-size: 16px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 10px;
 }
 
 .navbar a {
    position: relative;
    font-size: 16px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
 }

 .navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 1;
    height: 2px;
    background: white;
 }

 .navbar a:hover::before {
    width: 100%;
 }

 /* Container Styles */
 .container {
   width: 100%;
   height: 100vh;
   overflow-y: scroll; /*overflow vertical axis when scrolling and lets users scroll through contents */
   scroll-snap-type: y mandatory;/* scrolling will snap to the nearest vertical direction after scrolling */
 }

 /* Slides Styles */
 .slides {
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 50px;
   scroll-snap-align: start;
 }

.slide1 {
   background: linear-gradient(to bottom right, #ff0000, #0000ff);
}

.slide2 {
   background: linear-gradient(to bottom right, #FF0000, #00FFFF);
}

.slide3 {
   background: linear-gradient(to bottom right, #414a4c, #FFB90F);
}

.heading {
   color: aliceblue;
}